.publicado {
  background-color: #4f8a4d !important;
  color: white !important
}

.title {
  color: #5a5a5a;
  font-weight: 500 !important;
}

body {
  background-color: white !important;
}

.spacer {
  flex: 1 1 auto;
}


.border-info {
  border-color: #c5d5ee !important
}