<mat-toolbar>
    <button mat-icon-button (click)="emitterMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <nav aria-label="breadcrumb" class="ms-5 mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngFor="let route of routes; let i = index">
                <ng-container *ngIf="route.disabled; else link">
                    <div style="font-size: 16px; margin-top: 2px;">
                        <mat-icon *ngIf="route.icon" class="pt-2" style="font-size: 18px;">{{ route.icon}}</mat-icon>
                        {{ route.title }}
                    </div>
                </ng-container>
                <ng-template #link>
                    <a [routerLink]="getBreadcrumbLink(i)" style="font-size: 16px;">
                        <mat-icon *ngIf="route.icon" class="pt-2" style="font-size: 18px;">{{ route.icon
                            }}</mat-icon>
                        {{ route.title }}
                    </a>
                </ng-template>
            </li>
        </ol>
    </nav>
    
    <span class="spacer"></span>
    @if(!busy){
        <button mat-button aria-label="person" [matMenuTriggerFor]="menu">
            {{userData!.firstName}} {{userData!.lastName}}
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="menu" routerLink="perfil">
                <mat-icon>person</mat-icon>
                <p class="name">{{userData!.firstName}} {{userData!.lastName}}</p>
                <p class="email">{{userData!.email}}</p>
            </button>
            <button mat-menu-item (click)="logout()"><mat-icon class="logout">logout</mat-icon>Sair</button>
        </mat-menu>
    }
</mat-toolbar>