<h2 mat-dialog-title class="title fs-5 mb-0">
  <b>{{ regra.descricao }}</b>
</h2>
<mat-dialog-content #dialogBody>
  <div class="row" #propriedadesDiv>
    <div class="col-4">
      <app-regra [regra]="regra" (regraUpdated)="getRegraUpdated($event)"/>
    </div>
    <div class="col-6">
      <mat-tab-group class="border border-dark-subtle rounded" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Fato">
          <quill-editor
          
            class="p-2 w-100"
            [(ngModel)]="regra.fato"
            [styles]="{ 'min-height': heightQuill }"            [placeholder]="'Digite aqui o fato...'"
            (onEditorCreated)="onEditorCreated('fato', $event)"
            (focus)="setEditorAtivo('fato')"
          />
        </mat-tab>
        <mat-tab label="Fundamento">
          <quill-editor
            class="p-2 w-100"
            [(ngModel)]="regra.fundamento"
            [styles]="{ 'min-height': heightQuill }"
            [placeholder]="'Digite aqui o fundamento...'"
            (onEditorCreated)="onEditorCreated('fundamento', $event)"
            (focus)="setEditorAtivo('fundamento')"
          />
        </mat-tab>
        <mat-tab label="Pedido">
          <quill-editor
            class="p-2 w-100"
            [(ngModel)]="regra.pedido"
            [styles]="{ 'min-height': heightQuill }"            [placeholder]="'Digite aqui o pedido...'"
            (onEditorCreated)="onEditorCreated('pedido', $event)"
            (focus)="setEditorAtivo('pedido')"
          />
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-2">
      <div class="border border-dark-subtle rounded h-100">
        <p class="d-flex align-items-center border-bottom ps-4 titulo">
          Propriedades
        </p>
        <div class="px-3 pb-3">
          @for (item of propriedades; track $index) {
          <button
            mat-fab
            extended
            style="width: 100%"
            class="rounded-2 bg-transparent my-1 shadow-none border"
            [disableRipple]="true"
            [matTooltip]="item.referencia"
            (click)="inserirReferencia(item.referencia)">
            <mat-icon aria-hidden="false">{{ item.fieldType?.icon }}</mat-icon>
            {{ item.rowKey | camelCaseToWords }}
          </button>
          }
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="position: absolute; bottom: 5px; right: 5px;">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button cdkFocusInitial (click)="submit()">
    {{ regra ? "Atualizar" : "Adicionar" }}
  </button>
</mat-dialog-actions>
