.titulo {
  height: 48px !important;
  color: black;
  font-weight: 500;
}

:host ::ng-deep mat-dialog-content {
  flex: 1;
  overflow-y: auto;
  min-height: 90%; /* garante que o flex não expanda além do container */
}
