@use "./app/styles/variables.scss" as var;
@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: var.$primary-color,
      container-text-color: white,
    )
  );

  @include mat.sidenav-overrides(
    (
      content-background-color: #eeeeee,
    )
  );

  @include mat.card-overrides(
    (
      subtitle-text-color: orange,
      elevated-container-color: red,
    )
  );

  @include mat.table-overrides(
    (
      background-color: white,
      // header-headline-color: red,
      row-item-outline-color: #c4c4c4,
    )
  );

  @include mat.expansion-overrides(
    (
      container-background-color: white,
      // container-text-color: red,
    )
  );

  @include mat.paginator-overrides((
    container-background-color: white,
  ));
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eeeeee;
}

@media (max-width: 1920px) {
  html {
    font-size: 14px; /* em vez de 16px */
  }
}
<<<<<<< HEAD
=======

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;

  &.app-notification-error {
    --mdc-snackbar-container-color: #f23a2f!important;
    color: white!important;
  }

  &.app-notification-success {
    --mdc-snackbar-container-color: #558b2fff!important;
    color: white!important;
  }

  &.app-notification-alert {
    --mdc-snackbar-container-color: #ffbc50!important;
    --mdc-snackbar-supporting-text-color: black;
  }
}
>>>>>>> initalProject
